@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    font-size: 30px;
    padding: 0;
    margin:0;
}
img{
    width: 10%;
    border: 5px solid green;
    max-width: 1400px;
    border-radius: 15px;
    /*or use 50% for the border radius to make a circle*/
    padding: 30px;
    background-color: lightblue;
    box-sizing: border-box;
}
h1, p{
    font-family: Roberto, Helvetica, sans-serif;
    border: 5px solid blue;
    text-align: center;
    padding: 100px;
    margin: 50px;
    text-align: right;
    /*text-align will be on the ICE challenge*/
    margin-right: 250px;
}
#image-box{
    text-align: center;
}
p {
    font-size: 3em;
}
.para-box {
    font-size: 12px;
}
div p{
    background-color: pink;
}
.social a{
    text-decoration: none;
    /*This is what effects if the text is underlined*/
}
ol{
    border: 2px solid black;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}