body{
    font-size: 30px;
    padding: 0;
    margin:0;
}
img{
    width: 10%;
    border: 5px solid green;
    max-width: 1400px
}
h1, p{
    font-family:'Courier New', Courier;
    border: 5px solid blue;
    text-align: center;
    padding: 0;
    margin: 0;
}
#image-box{
    text-align: center;
}
p {
    font-size: 3em;
}
.para-box {
    font-size: 12px;
}
div p{
    background-color: pink;
}
.social a{
    text-decoration: none;
}