#content{
max-width: 1600px;
margin: 0 auto;

}
nav a{
    text-align: center;
    color: #093a3e;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body {
    background-color: #093a3e;
}
header {
    background-color: #91eff3;
}
nav a:hover{
    Background-color: #b6f5f7;
    color: #093a3e;
}
.book, .join{
    background-color: #093a3e;
    color: #ccc4b7;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #093a3e;
    color: #706B62

}
#background{
    background-color: #91eff3
}
.msg{
    background-color: #093a3e;
    color:#ccc4b7;
}
footer{
    background-color: #093a3e;
}
.home-title{
    color:#ccc4b7;
}
h4{
    color:#ccc4b7;
}
.msg p{
    color: #ccc4b7;
}
.msg h2{
    color: #ccc4b7;
}
footer h3{
    color: #ccc4b7;
}
footer a{
    color: #ccc4b7;
    text-decoration: none;
}
footer a:hover{
    color: #706B62;
    text-decoration: none;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
