@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Josefin+Slab:ital@1&display=swap');
#content{
max-width: 1600px;
margin: 0 auto;

}
nav a{
    text-align: center;
    color: #ccc4b7;
    text-decoration: none;
    font-family: "josefin sans";
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family:"josefin sans";
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #3a6061;
    background-color: ;
    font-family:"josefin sans";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #3a6061;
}
nav a:hover{
    Background-color: #3a6061;
    color: #093a3e;
}
.book, .join{
    background-color: #093a3e;
    color: #ccc4b7;
    text-decoration: none;
    font-family:"Josefin sans";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #093a3e;
    color: #706B62

}
#background{
    background-color: #3a6061;
}
.msg{
    background-color: #093a3e;
    line-height: 1.5em;
    color:#ccc4b7;
    padding: 35px;
    grid-column:6/10;
    grid-row:6/7;
}
footer{
    background-color: #3a6061;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color:#ccc4b7;
    font-family:"josefin sans";
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:#ccc4b7;
}
.msg p{
    color: #ccc4b7;
    font-family:"josefin sans";
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2{
    color: #ccc4b7;
}
footer h3{
    color: #ccc4b7;
    font-family:"josefin sans";
}
footer a{
    color: #ccc4b7;
    text-decoration: none;
}
footer a:hover{
    color: #706B62;
    text-decoration: none;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
main h2{
    color:#ccc4b7;
    font-family:"Josefin sans";
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img{
    Padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-image{
    border:10px solid black;
}
#nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: #ccc4b7;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
main {
    display: grid;
    grid-template-columns:repeat(10, minmax(0, 1fr))
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
}
.card-img, .mountain {
    width: 100%;
}
/* river css */
.active {
    color: #d9c2a3;
    background-color: black; 
}
.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 2em;
    max-width: 1400px;
    margin: 0 auto;
}
.rivers-title {
    font-family: 'josefe sans';
    font-size: 40px;
    letter-spacing: 3px;
    color: #ccc4b7;
    margin: 100px 0;
    border-top: 5px double;
    border-bottom: 5px double;
    grid-column: 2/8;
    grid-row: 1/2;
    justify-self: stretch;
    text-align: center;
}
.river1-img {
    grid-column: 2/5;
    grid-row: 2/5;
    width: 100%;
    box-shadow: 5px 5px 10px #093a3e;
}
.river1-text {
    grid-column: 4/7;
    grid-row: 3/4;
    color:#ccc4b7;
}
.river2-img {
    grid-column: 5/8;
    grid-row: 6/9;
    width: 100%;
    box-shadow: 5px 5px 10px #093a3e;
}
.river2-text {
    grid-column: 3/6;
    grid-row: 7/8;
    color: #ccc4b7;
}
.river1-text, .river2-text {
    background-color: #093a3e;
    overflow-y: scroll; /* ADDED */
    height: auto; /* ADDED */
    height: 250px;
    padding: 35px;
    line-height: 1.5em;
    box-shadow: 5px 5px 10px #093a3e;
}